In [3]:
import zipfile
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [166]:
# df1 = pd.read_json('bucket1.json', lines = True)

In [167]:
# df2 = pd.read_json('bucket2.json', lines = True)

In [168]:
# df3 = pd.read_json('bucket3.json', lines = True)

In [169]:
# df1 = pd.read_json('bucket1.json', lines = True)
# df2 = pd.read_json('bucket2.json', lines = True)
# df3 = pd.read_json('bucket3.json', lines = True)
# df4 = pd.read_json('bucket4.json', lines = True)
# df5 = pd.read_json('bucket5.json', lines = True)

In [170]:
# df5 = pd.read_json('bucket5.json', lines = True)

In [171]:
# frames = [df1a, df2a, df3a]

# result = pd.concat(frames)

In [172]:
# f = df1.copy()
# s = df2.copy()
# t = df3.copy()
# fo = df4.copy()
# fi = df5.copy()

# cols = [f,s,t,fo,fi]

# comments_df = pd.concat(cols)

In [41]:
comments_df = pd.read_csv('fulldata.csv')

In [ ]:
# delete any line that doesnt have a label...something that no one has commented on
# or ID types of comments that no one engages with
# divide the data up into four separate datasets....one dataset where each article has at least one...then make a multilabel predictor
# cluster the information that people find funny and like...funny and sad...wow and sad
# refression or classification? how many likes or is it likely to get any likes at all

In [43]:
#drop all values that have no funny,wow,sad...
sentiment_array = comments_df[['funny', 'wow', 'sad', 'disagree', 'likes']]
cleaned_df = comments_df.loc[~(sentiment_array==0).all(axis=1)].reset_index()

In [45]:
# new_s_df = cleaned_df[['funny', 'wow', 'sad', 'disagree', 'likes']]

# idx_non_zero = []
# for i in new_s_df[:10].values:
#     if sum(i) != 0:
#         idx_non_zero.append(i)

In [46]:
cleaned_df.drop(['Unnamed: 0', 'index'], axis = 1, inplace = True)

In [47]:
cleaned_df.head()

,funny,wow,text,publication_id,rating,article_id,id,sad,created_at,disagree,likes,parent_id
0,0,0,haha you guys are a bunch of losers.,2,rejected,2006,59856,0,2015-09-29 10:50:48.488476+00:00,0,1,NaN
1,0,0,"The best ever, beats any store!!!!!",6,approved,8384,382490,0,2016-07-10 22:38:03.752194+00:00,0,1,NaN
2,0,0,I misread the post and thought you advocated p...,6,approved,24149,372518,0,2016-07-02 04:01:47.420529+00:00,0,1,NaN
3,0,0,The best part is a Canadian would read this an...,6,approved,24149,372801,0,2016-07-02 14:56:08.837415+00:00,0,1,NaN
4,0,0,You forgot the Palpating of the Poutine Gravy ...,6,approved,24149,372493,0,2016-07-02 03:26:50.607144+00:00,0,1,NaN

In [51]:
cleaned_df[cleaned_df.text.isna()]

,funny,wow,text,publication_id,rating,article_id,id,sad,created_at,disagree,likes,parent_id
736029,0,0,NaN,13,approved,141670,392337,0,2016-07-18 19:34:48.278774+00:00,0,1,392165.0

In [58]:
cleaned_df.drop(index = 736029, axis = 0, inplace = True)

In [ ]:
cleaned_df.sort_values(by='created_at', inplace = True).reset_index()

In [66]:
cleaned_df

,funny,wow,text,publication_id,rating,article_id,id,sad,created_at,disagree,likes,parent_id
0,0,0,haha you guys are a bunch of losers.,2,rejected,2006,59856,0,2015-09-29 10:50:48.488476+00:00,0,1,NaN
1,0,0,"The best ever, beats any store!!!!!",6,approved,8384,382490,0,2016-07-10 22:38:03.752194+00:00,0,1,NaN
2,0,0,I misread the post and thought you advocated p...,6,approved,24149,372518,0,2016-07-02 04:01:47.420529+00:00,0,1,NaN
3,0,0,The best part is a Canadian would read this an...,6,approved,24149,372801,0,2016-07-02 14:56:08.837415+00:00,0,1,NaN
4,0,0,You forgot the Palpating of the Poutine Gravy ...,6,approved,24149,372493,0,2016-07-02 03:26:50.607144+00:00,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1223907,0,0,They didn't do this out of the goodness of the...,54,approved,351447,5524846,3,2017-07-04 11:46:50.848053+00:00,79,33,5523622.0
1223908,2,4,"Mr Mason, I know you are a Liberal lackey and ...",54,approved,155399,680436,13,2016-12-08 18:38:58.786804+00:00,83,44,NaN
1223909,5,0,Are you kidding me ? That's wishful thinking ...,21,approved,359844,5667059,4,2017-07-27 05:42:06.422138+00:00,116,20,5666798.0
1223910,10,3,"Yes, but not in this case. \nKhadr deserves co...",54,approved,351447,5524678,1,2017-07-04 10:38:03.045473+00:00,130,42,5524560.0
1223911,5,15,"Let us see now, hmmm... mortgage payment, heat...",54,approved,160938,815193,8,2017-01-09 22:14:36.135211+00:00,142,37,815095.0

In [ ]:
cleaned_df.to_csv('cleaned_comments.csv')